/*font for website*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #252525;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #0b090a;
}

.py-7{
    padding: 7rem 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style-type: none;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*scrollbar style*/
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #454248;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

/*logo*/
.logo{
  width: 140px;
}

a {
 text-decoration: none;
}
li {
 list-style: none;
}

/*navigation*/
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: #0b090a;
 color: #fff;
 top: 0;
}
.nav-links a {
 color: #fff;
}

nav ul li a:hover {
	color: #ef233c;
	padding-top: 20px;

}

/*navbar menu*/
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
 position: relative; /* <-- added declaration */
}
.menu li {
 padding: 5px 14px;

}

/*dropdown menu*/
.dropdown-menu {
 position: relative;
}
.dropdown {
 background-color: #0b090a;
 padding: 1em 0;
 position: absolute;
 display: none;
 border-radius: 1px;
 margin-left: -60px;
 margin-top: 5px;
 transform: translateX(35%);
}
.dropdown li + li {
 margin-top: 10px;

}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown-menu:hover .dropdown {
  display: block;
}

/*responsive navbar*/
/* checkbox hack */
input[type=checkbox]{
 display: none;
}
/*hamburger menu for mobile*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}

/*homepage*/
section
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-content .textbox
{
  position: relative;
  max-width: 900px;
}
.index-content .textbox h2
{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.index-content .textbox h2 span
{
  color: #ef233c;
  font-size: 1.2em;
  font-weight: 900;
}
/*contact button*/
.index-content .textbox p
{
  color: #333;
}
.index-content .textbox a
{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #ef233c;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.index-content .imgBox
{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}


/*about*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

section .about{
  padding: 100px 0;
}

.bgtj {
background-image: url("../images/title-bg.png");
background-repeat: no-repeat, repeat;
background-size: cover;
min-height: 230px;
display: flex;
justify-content: center;
align-items: center;
}

.bgtj .h1 {
  align-self: auto;
  font-size: 35px;
  color: white;
}

.about .about-content,
.skills .skills-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 450px;
    width: 450px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}

/*joseph resume*/
.bgrj {
background-image: url("../images/bg1.png");
background-repeat: no-repeat, repeat;
background-size: cover;
min-height: 572px;
display: flex;
justify-content: center;
align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 800px;
  margin: 0 auto;

}

.row {
  display: flex;
  flex-wrap: wrap;
  width:100%;
}


.col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col.left {
  width: 70%;
}

.col.right {
  width: 30%;
  align-items: flex-end;
}

.bgrj .flex-container .image {
  height: 250px;
  width: 250px;
}

.bgrj .flex-container .h1 {
  font-size: 50px;
  color:white;
}

.bgrj .flex-container .h2 {
  font-size: 25px;
  font-weight: normal;
  color: white;
}

.content {
display: flex;
justify-content: center;
align-items: center;
padding: inherit;
}

.content .flex-container {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 800px;
  margin: 50px auto;

}

.content .flex-container .row .col.left {
  width: 50%;
  align-items: flex-start;
  align-self:flex-start;
}

.content .flex-container .row .col.right {
  width: 50%;
  align-items: flex-start;
  align-self: flex-start;
}

.content .flex-container .row .col.left .h4 {
  font-weight: lighter;
}

.content .flex-container .row .col.right .h4 {
  font-weight: lighter;
}

/*joseph portfolio*/
.bgpj {
background-image: url("../images/bg2.png");
background-repeat: no-repeat, repeat;
background-size: cover;
min-height: 230px;
display: flex;
justify-content: center;
align-items: center;
}

.bgpj .h1 {
  align-self: center;
  font-size: 35px;
  color: white;
}

.port {
  width: 100%;
  height: auto;
}

.content .flex-container .row .h1 {
  font-size: 40px;
}

.content .par {
  font-size: 21px;
  font-weight: lighter;
}

/*raine resume*/
.bgtj .flex-container .image {
  height: 250px;
  width: 250px;
}

.bgtj .flex-container .h1 {
  font-size: 50px;
  color:white;
}

.bgtj .ewflex-container .h1 {
  align-content: space-between;
  font-size: 50px;
  color:white;
}

.bgtj .flex-container .h2 {
  font-size: 25px;
  font-weight: normal;
  color: white;
}
.social-links{
    display: flex;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background-color: var(--light-color);
    margin-right: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.9;
}

/* footer */
#footer{
    background-color: var(--dark-color);
    color: var(--light-color);
}
.footer-content{
    text-align: center;
}
.footer-content h3{
    color: var(--light-color);
    font-size: 2.5rem;
    letter-spacing: 1px;
}
.footer-content ul{
    flex-direction: row;
}
.footer-content ul li a{
    color: var(--light-color);
    font-size: 2.0rem;
    transition: var(--transition);
}
.footer-content ul li a:hover{
    opacity: 0.7;
}
.footer-content ul li{
    margin: .5rem 1rem;
}
.footer-content > div:first-child{
    margin-bottom: 3rem;
}
.footer-content > div:first-child div{
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5rem auto;
    border-radius: 50%;
}

/*resume and portfolio index*/
#services{
  padding: 30px 0;
}
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div{
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a{
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div:hover{
  background: #ff004f;
  transform: translateY(-10px);

}
/* navbar media queries */
@media (max-width: 768px) {
  .menu {
   display:none;
   position: absolute;
   background-color:#0b090a;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
  }
  .menu li:hover {
   display: inline-block;
   background-color:#4c9e9e;
   transition: 0.9s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
  }
  .dropdown li:hover {
   background-color: #4c9e9e;
  }
}

/*responsive media queries*/
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
  }

@media (max-width: 991px) {

  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
@media (max-width: 500px) {
  .about .about-content .right .text{
    font-size: 19px;
  }
@media(min-width: 576px){
  .footer-content ul{
      flex-direction: row;
  }
}
}
}

/*contact page*/
.contact {
  position: relative;
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: initial;
  min-height: auto;
  padding: 35px;
}

.box {
  background-color: black;
  height: 280px;
  display:flex;
  flex-direction: column;
  width:100%;
  max-width: 800px;
  margin: 0 auto;
}

.box .row .left {
  width: 10%;
  margin-top: 6px;
}

.box .row .right {
  width: 90%;
  color: white;
  align-items: baseline;
  margin-top: 15px;
}

.contact-text {
  font-weight: lighter;
  font-size: 17px;
}
