/*font for website*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #252525;
    --light-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

/*joseph resume*/
#name{
  text-align: center;
  padding-top: 20px;

}

.text-white{
  color: white;
}

.row {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
}
.column {
  color: white;
  padding: 10px;
  height: auto;
}

.left {
  flex: 30%;
}

.right {
  flex: 70%;
}
